<a href="https://colab.research.google.com/github/NekoJar/NekoJar/blob/main/Copy_of_kerja_LAB_kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import library
import pandas as pd
import numpy as np

In [ ]:
dwn_url = 'https://drive.google.com/uc?id=' + '1C5-s_COuWrjn52wzs-QtEYc6QE_IlR2O' #membangun sebuah link url
df = pd.read_csv(dwn_url)

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.shape

(150, 6)

In [ ]:
df = df.drop('Id', axis=1)

In [ ]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df = df.sample(150).reset_index(drop=True)

In [ ]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0              5.4           3.7            1.5           0.2      Iris-setosa
1              6.2           2.8            4.8           1.8   Iris-virginica
2              7.9           3.8            6.4           2.0   Iris-virginica
3              5.1           2.5            3.0           1.1  Iris-versicolor
4              5.4           3.4            1.7           0.2      Iris-setosa
..             ...           ...            ...           ...              ...
145            7.7           2.6            6.9           2.3   Iris-virginica
146            4.6           3.1            1.5           0.2      Iris-setosa
147            6.3           2.7            4.9           1.8   Iris-virginica
148            6.9           3.2            5.7           2.3   Iris-virginica
149            5.9           3.0            5.1           1.8   Iris-virginica

[150 rows x 5 columns]

In [ ]:
fold1 = (df.iloc[0:50].reset_index(drop=True), df.iloc[50:150].reset_index(drop=True))
fold2 = (df.iloc[0:50].reset_index(drop=True), pd.concat([df.iloc[0:50], df.iloc[100:50], df.iloc[100:150]]).reset_index(drop=True))
fold3 = (df.iloc[100:150].reset_index(drop=True), df.iloc[0:1100].reset_index(drop=True))

In [ ]:
test, train = fold2
print(train)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.4           3.7            1.5           0.2      Iris-setosa
1             6.2           2.8            4.8           1.8   Iris-virginica
2             7.9           3.8            6.4           2.0   Iris-virginica
3             5.1           2.5            3.0           1.1  Iris-versicolor
4             5.4           3.4            1.7           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            7.7           2.6            6.9           2.3   Iris-virginica
96            4.6           3.1            1.5           0.2      Iris-setosa
97            6.3           2.7            4.9           1.8   Iris-virginica
98            6.9           3.2            5.7           2.3   Iris-virginica
99            5.9           3.0            5.1           1.8   Iris-virginica

[100 rows x 5 columns]

In [ ]:
def norm(df) :
  df = (df - df.min()) / (df.max() - df.min())
  return df

In [ ]:
x = df.drop('Species', axis=1)
y = df.Species

In [ ]:
x = norm(x)
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0         0.305556      0.708333       0.084746      0.041667
1         0.527778      0.333333       0.644068      0.708333
2         1.000000      0.750000       0.915254      0.791667
3         0.222222      0.208333       0.338983      0.416667
4         0.305556      0.583333       0.118644      0.041667
..             ...           ...            ...           ...
145       0.944444      0.250000       1.000000      0.916667
146       0.083333      0.458333       0.084746      0.041667
147       0.555556      0.291667       0.661017      0.708333
148       0.722222      0.500000       0.796610      0.916667
149       0.444444      0.416667       0.694915      0.708333

[150 rows x 4 columns]

In [ ]:
x.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        0.428704      0.439167       0.467571      0.457778
std         0.230018      0.180664       0.299054      0.317984
min         0.000000      0.000000       0.000000      0.000000
25%         0.222222      0.333333       0.101695      0.083333
50%         0.416667      0.416667       0.567797      0.500000
75%         0.583333      0.541667       0.694915      0.708333
max         1.000000      1.000000       1.000000      1.000000

In [ ]:
def euclidean(x1,x2) :
  return np.sqrt(np.sum((x1-x2)**2))

In [ ]:
euclidean(x.iloc[0], x.iloc[1])

0.9732899352700427

In [ ]:
def knn(x_train, y_train, x_test, k) :

  dist = []

  for row in range(x_train.shape[0]) :
    dist.append(euclidean(x_train.iloc[row], x_test))

  data = x_train.copy()
  data['Jarak'] = dist
  data['Species'] = y_train
  data.sort_values(by='Jarak').reset_index(drop=True)

  y_pred = data.iloc[:k].Species.mode()

  return y_pred[0]

In [ ]:
def acc(y_pred, y_true) :
  true = 0
  for i in range(len(y_pred)):
    if y_pred[i] == y_true[i]:
      true += 1
  return true/len(y_pred)

In [ ]:
def evaluate(fold, k):
  test, train = fold
  x_train, y_train = train.drop('Species', axis = 1), train.Species
  x_test, y_test = test.drop('Species', axis = 1), test.Species

  x_train = norm(x_train)
  x_test = norm(x_test)

  y_pred = []

  for row in range(x_test.shape[0]): #iterasi loop melalui setiap baris df
    y_pred.append(knn(x_train, y_train, x_test.iloc[row], k))

  return (acc(y_pred, y_test))

In [ ]:
k = 5
accs = []
folds = [fold1, fold2, fold3] #fold1,fold2,fold3 menjadi 1 variable

for i in range(len(folds)) : #untuk melakukan iterasi melalui indeks dari list folds. Setiap iterasi, dilakukan evaluasi menggunakan fungsi evaluate() pada setiap fold dalam list folds, dengan menggunakan parameter k.
  accs.append(evaluate(folds[i], k))

print(f"k : {k}, dengan rata-rata akurasi: {sum(accs) / 3}")

k : 5, dengan rata-rata akurasi: 0.3333333333333333